<!-- <div class="modal fade">
  	<div class="modal-dialog">
   		<div class="modal-content">
   			<div class="modal-header-custom"> -->
				<%= image_tag @provider.large_icon.url %> 
				<%= @provider.name %>

				<br />
				<%= @provider_account.name %>, connected by: <%= @provider_account.provider_credential.user.name %>
				<br />

				<hr />

				Properties (<%= @provider_account.property_label %> ):


				<% @provider_account.provider_properties.each do |property| %>
					<%= property.name %> - <%= property.active %> <hr />
				<% end %>

			</div>
		</div>
	</div>
</div>

