<div class="card-wrapper col-lg-6 col-lg-offset-3">
		<div class="card">
			<div class="row">
				<div class="as-image">
				<%= image_tag "team/alex.png", :width => "62" %>
				<%= image_tag "icons/Github-circle-sm.png", :width => "26", :id => "smicon" %>
				</div>
				<div class="headcontent">
					<h2 class="author">Author</h2>
					<h2 class="title"><%= event.title %></h2>
				</div>
				<div class="metacontent">	
					<div class="property floatleft">
						<p class="alt"><%= event.property_name %></p>
					</div>
					<div class="timestamp floatright">
						<%= image_tag "icons/Github-circle-sm.png", :width => "14", :id => "timeicon" %>
						<p class="alt"><%= event.timestamp %></p>
					</div>
				</div>
			</div>
			<div class="content row">
				<p><%= event.description %></p>
				<div class="contentlinks">
					<div class="floatleft">
						<p><a href="cardlink">Open in Triage app</a></p>
					</div>
					<div class="floatright">
					<p><a href="cardlink">Open in Github</a></p>
					</div>
				</div>
			</div>
			<div class="conversation">
				<%= render event.messages %>
			</div>
		</div>
	</div>