<div class="card-wrapper col-lg-6 col-lg-offset-3">
		<div class="card">
			
			<div class="row">
				<%= avatar_for event.user, event.provider %>
				
				<div class="headcontent">
					<h1 class="author"><%= event.user.name if event.user %></h1>
					<h1 class="title"><%= event.title %></h1>
				</div>

				<div class="metacontent">	
					<div class="timetitle">
						<%= image_tag "tm-icon@2x.png", :width => "18", :id => "timeicon" %>
						<p class="alt">15m</p> 
						<!-- <p class="alt"><%= time_ago_in_words event.timestamp %></p> -->
					</div>
				</div>
			</div>

			<div class="content row">
				<div class="property">
					<p class="alt"><%= event.property_name %></p>
				</div>
				<div class="contentdescription">
				<p><%= event.body %></p>
				</div>
				<div class="contentlinks">
					<div class="floatleft">
						<p><a href="cardlink">Open in Triage app</a></p>
					</div>
					<div class="floatright">
						<p><a href="cardlink">Open in Github</a></p>
					</div>
				</div>
			</div>

			<% if event.messages %>
				<div class="row conversation">
					<%= render event.messages %>
				</div>
			<% end %>
		
	</div>
</div>