<div class="card-wrapper col-lg-6 col-lg-offset-3">
		<div class="card">
			<div class="row">
				<%= avatar_for event.user, event.provider %>
				<div class="headcontent">
					<h1 class="author"><%= event.user.name if event.user %> <%= event.title %></h1>
					<div class="timetitle">
						<p class="alt"><%= event.property_name %></p>
					</div>
				</div>
			</div>
			<div class="content row">
				<div class="contentdescription">
				<p><%= event.description %></p>
				</div>
				<div class="contentlinks">
					<div class="floatleft">
						<%= image_tag "tm-icon@2x.png", :width => "18", :id => "timeicon" %>
						<p class="alt"><%= time_ago_in_words event.timestamp %></p>
					</div>
					<div class="floatright">
						<p><a href="cardlink">Open in Github</a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<%= render event.messages %>
			</div>
		</div>
	</div>
</div>