<!-- Welcome Content -->
<div class="fullheight">

	<div class="container">
	  <div class="navbar" role="navigation">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar-custom"></span>
	        <span class="icon-bar-custom"></span>
	        <span class="icon-bar-custom"></span>
	      </button>
	      <a class="navbar-brand" href="#"><%= image_tag "mobile/triage-logo-m@2x.png", :width => "29" %></a>
	    </div>
	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
	        <li class="active"><%= link_to 'FAQ', faq_path %></li>
	        <li><%= link_to 'Contact', about_path %></li>
	        <li><%= link_to 'Blog', "http://blog.triaged.co", :target => '_blank' %></li>
	      </ul>
	    </div><!-- /.nav-collapse -->
	  </div><!-- /.container -->
	</div><!-- /.navbar -->

	<div class="col-sm-12 center fullheight" id="mobile-hero">	
	 	<!-- Title Row -->
	 	<div class="row">
			<h1 class="hero-title">Introducing Triage</h1>
			<h4>Work, on your phone.</h4><br /><br />
		</div>
		
		

		<!-- CTA Row -->
		<div class="row" id="welcome-cta">
			<div id="hero-btn">
				<button class="btn btn-custom btn-sm download-cta" type="button" id="download-cta">
					Get Early Access
				</button>
			</div>
		</div>

		<!-- Phone Image -->
		<div class="col-lg-4 col-lg-offset-2 fullheight">
			<%= image_tag "mobile/Feed@2x.png", :width => "225", :class => "mobile-hero-image"  %>
		</div>
		<!-- Welcome Breadcrumb -->

		<br /><br />

		<div class="row center">
			<h3>Triage integrates the SaaS tools you use everyday.</h3>
			<p class="altbody">Triage monitors your favorite developer worktools you already use at work and pulls everything into one mobile feed.</p>
		</div>
	</div>
</div>