<div class="col-xs-12">
			<!-- Logo Row -->
			<br /><br />
			<div class="row center-block">
				<%= image_tag "logotriage.png", :class => "center-block" %><h2><span id="logo" class="text-center">Triage</span</h2>
			</div>
			<!-- Title Row -->
			<div class="row center-block" id="welcome-title">
				<h1 class="text-center">Everything that's<br /> happening at work, <br/ > in one place.</h1>
			</div>
			<!-- Description Row -->
			<div class="row center-block" id="welcome-description">
				<p class="text-center"> Triage monitors the services you already use at work,<br /> and pulls everything important into one mobile feed. </p> <br />
				<%= image_tag "providers-mobile1.png", :id => "providers", :class => "center-block" %> <br />
				<%= image_tag "providers-mobile2.png", :id => "providers", :class => "center-block" %>
			</div>
			<!-- CTA Row -->
			<div class="row center-block" id="welcome-cta">
				<%= button_to 'DOWNLOAD TRIAGE', "https://itunes.apple.com/us/app/triage-everything-thats-happening/id744662903?ls=1&mt=8", 	:class => "btn btn-custom" %>
			</div>
			

		</div>
		<div class="row center-block">
			<br /> <br />
			<%= image_tag "iphone.png", :id => "iphone" %>
		</div>

		<br /><br />
</div>

