<h1> <%= @status_report.user.name %> for <%= @status_report.status_date %>: <%= @status_report.workflow_state %> </h1>
<br /><br /><br />
<%= render 'form' %>
<br /><br /><br />

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">

		<ul id="status-entries">
		<%= render @status_report.status_entries %>
		</ul>
	</div>
</div>

<%= button_to 'Publish', publish_status_report_path(@status_report), :class => "btn btn-success" %>

<%= link_to 'Back', status_reports_path %>
