<div class="col-lg-12">
	<div class="spacer"></div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 center-block">
			<!-- Logo Row -->
			<div class="row">
				<%= link_to('/') do %><h2><%= image_tag "logo-triage-lg.png" %><% end %><span id="logo">Triage</span</h2>

			</div>
			<!-- Title Row -->
			<div class="row center-block" id="welcome-title">
				<h1>Forgot your password?</h1>
			</div>
			<!-- Description Row -->
			<div class="row center-block" id="welcome-description">
			<%= minimal_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  			<%= f.error_notification %>

			  <div class="form-inputs">
			    <%= f.input :email, :autofocus => true %>
			  </div>

			  <br />

			  <div class="form-actions">
			    <%= f.button :submit, "Send me instructions", :class => "btn-custom btn-small" %>
			  </div>
			<% end %>
			</div>

		</div>
	</div>
</div>

