<div class="col-lg-12">
	<div class="spacer"><br /><br /><br /></div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-sm-8">
			<!-- Logo Row -->
			<div class="row">
				<%= link_to('/') do %><h2><%= image_tag "logotriage.png" %><% end %><span id="logo">Triage</span</h2>
			</div>
			<!-- Entry Quote -->
			<div class="spacer"><br /><br /><br /></div>

			<div class="row" id="welcome-title">
				<h1><b>The Triage team currently consists of one engineer and two designers.</b> We work remotely, living in San Francisco, Boston, and Prague. This is one more thing about all three of us. 
				</h1>
			</div>
			<!-- Title Row -->
			<div class="spacer"><br /><br /><br /></div>
			<!-- Description Row -->
			<div class="row" id="about-images">
				<div class="col-lg-4">
					<%= image_tag "charlie.png", :class => "profile-picture" %>
					<div class="row" id="about-name">
						<p>Charlie White</p>
					</div>
				</div>
				<div class="col-lg-4">
					<%= image_tag "charlie.png", :class => "profile-picture" %>
					<div class="row" id="about-name">
						<p>Alex Brinza</p>
					</div>
				</div>
				<div class="col-lg-4">
					<%= image_tag "charlie.png", :class => "profile-picture" %>
					<div class="row" id="about-name">
						<p>JT White</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
