<div class="col-lg-12">
	<div class="spacer"><br /></div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<!-- Logo Row -->
			<div class="row">
				<%= link_to('/') do %><%= image_tag "logo-triage-lg.png", :class => "center-block" %><% end %>
			</div>
			<!-- Title Row -->
			<div class="row" id="welcome-title">
				<h1 class="centered">About</h1>
			</div>
			<div class="row" id="welcome-title">
				<p><b>The Triage team is one engineer and two designers.</b> <br />We work remotely, living in San Francisco, Boston, and Prague.<br /> We use Triage to build Triage.
				</p>
			</div>
			<!-- Title Row -->
			<div class="spacer"><br /><br /><br /></div>
			<!-- Description Row -->
			<div class="row center-block" id="about-images">
				<div class="col-lg-4">
					<%= image_tag "team/charlie.png", :class => "profile-picture" %>
					<div class="row" id="about-name">
						<p>Charlie White</p>
					</div>
				</div>
				<div class="col-lg-4">
					<%= image_tag "team/alex.png", :class => "profile-picture" %>
					<div class="row" id="about-name">
						<p>Alex Brinza</p>
					</div>
				</div>
				<div class="col-lg-4">
					<%= image_tag "team/jt.png", :class => "profile-picture" %>
					<div class="row" id="about-name">
						<p>JT White</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
