<div class="border">
	<div class="container">	
		<div class="col-lg-12 col-sm-12 fullheight">

			<div class="navbar padding-top-sm" role="navigation">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar-custom"></span>
			        <span class="icon-bar-custom"></span>
			        <span class="icon-bar-custom"></span>
			      </button>
			      <%= image_tag "triage-logo.png" %>
			      <a id="logotype" href="/">Triage</a>
			    </div>
			    <div class="collapse navbar-collapse">
			      <ul class="nav navbar-nav navbar-right">
			        <li class="active"><%= link_to 'Home', root_path %></li>
			        <li><%= link_to 'FAQ', faq_path %></li> 
			        <li><%= link_to 'Contact', about_path %></li>
			        <li><%= link_to 'Blog', "http://blog.triaged.co", :target => '_blank' %></li>
			      </ul>
			    </div><!-- /.nav-collapse -->
			</div><!-- /.container -->
			
			<!-- Support -->	
			<div class="row col-lg-6 col-lg-offset-3 center padding-top">
				<%= link_to('/') do %><%= image_tag "triage-logo.png", :class => "center-block" %><% end %>
				<h2>FAQ</h2>
				<p> Please email us at <%= mail_to "support@triaged.co" %> if you have any questions. </p>
				<p> We'd love to hear from you! </p>
				<p> The Triage Team </p>
			</div>

			<div class="row">					
				<div class="col-lg-6 padding-top">
						<h3>What is Triage?</h3>
						<p>Triage is your activity feed for work. Triage aggregates key metrics and activity into one simple feed to help you stay productive and efficient throughout the day.</p>
				</div>
				<div class="col-lg-6 padding-top">
						<h3>Why should you use Triage?</h3>
						<p>By integrating services you already use, Triage allows you to glance into the many data sources you use. You can also use Triage to quickly communicate with colleagues and assign out tasks.</p>
				</div>
			</div>

			<div class="row">					
				<div class="col-lg-6 padding-top">
						<h3>How does it work?</h3>
						<p>Triage integrates with a growing number of 3rd party services. Triage monitors what's happening with each service and aggregates everything important to you into your Triage feed.</p>
				</div>
				<div class="col-lg-6 padding-top">
						<h3>How much does it cost?</h3>
						<p>Triage is a free service, and our plan is to keep it that way. In the future, Triage will charge for additional enterprise services.</p>
				</div>
			</div>

			<div class="row">					
				<div class="col-lg-6 padding-top">
						<h3>Can my whole team use it?</h3>
						<p>Of course, Triage is built for individuals and teams. Anyone with a valid company email address can access your company’s services. Use Triage to communicate information and collaborate on urgent issues. Keep in mind that any data shared in Triage will be available to your whole team.</p>
				</div>
				<div class="col-lg-6 padding-top">
					<h3>What services does Triage support?</h3>
					<div class="row">
						<div class="col-lg-6">
							<p class="left" id="bold"> Airbrake <br>Appfigures <br>Beanstalk <br>Bitbucket <br>Crashlytics <br>Dropbox <br>Github <br>Google Analytics</p>
						</div>
						<div id="col-lg-6">
							<p class="left" id="bold">Github <br>Heroku <br>Hockey App <br>Kiln <br>New Relic <br>Sentry <br>Stripe </p>
						</div>
					</div>
					<p>And more coming shortly.</p>
				</div>
			</div>

			<div class="row">					
				<div class="col-lg-6 padding-top">
						<h3>Can I suggest another service?</h3>
						<p>Please! Shoot us an email at <a href="mailto:team@triaged.co">team@triaged.co</a>.</p>
				</div>
				<div class="col-lg-6 padding-top">
						<h3>What platforms does Triage support?</h3>
						<p>Triage is available for iOS 7. Tablet, Android and web versions are coming shortly.</p>
				</div>
			</div>

			<div class="row">					
				<div class="col-lg-6 padding-top">
						<h3>Is my profile and data private?</h3>
						<p>Only active employees at your company with a verified email address can see your Triage data. No activity of yours is shared outside of your company with any third parties.</p>
				</div>
				<div class="col-lg-6 padding-top">
						<h3>Is my data safe with Triage?</h3>
						<p>All traffic is encrypted with SSL/HTTPs, both when receiving data from 3rd party services and again when communicating between the Triage mobile app and servers.</p>
				</div>
			</div>

			<div class="row">					
				<div class="col-lg-6 padding-top padding-bottom">
						<h3>Can I cancel my account?</h3>
						<p>Yes; email us at <a href="mailto:team@triaged.co">team@triaged.co</a>. We will delete your account and completely remove your data from our servers within 48 hours.</p>
				</div>
				<div class="col-lg-6 padding-top padding-bottom">
						<h3>How can I get in touch?</h3>
						<p>Email us at <a href="mailto:support@triaged.co">support@triaged.co</a></p>
				</div>
			</div>

		</div>
	</div>
</div>

