<!-- Hero Border -->
<div class="hero-border">
	<div class="container fullheight">
		<!-- Welcome -->	
		<div class="col-lg-12 col-sm-12 fullheight">

			<!-- Navbar-->	
			<div class="navbar" role="navigation">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar-custom"></span>
			        <span class="icon-bar-custom"></span>
			        <span class="icon-bar-custom"></span>
			      </button>
			    </div>
			    <div class="collapse navbar-collapse">
			      <ul class="nav navbar-nav">
			        <li class="active"><%= link_to 'Home', root_path %></li>
			        <li><%= link_to 'FAQ', support_path %></li>
			        <li><%= link_to 'Contact', about_path %></li>
			        <li><%= link_to 'Blog', "http://blog.triaged.co", :target => '_blank' %></li>
			      </ul>
			    </div><!-- /.nav-collapse -->
			</div><!-- /.container -->

			<!-- Welcome Content -->
			<div class="row">
				<div class="col-lg-6" id="padding-top-hero">
					<!-- Logo Row -->
						<%= image_tag "triage-logo.png" %>
					<!-- Title Row -->
					<div class="row" id="welcome-title">
						<h1>Introducing Triage</h1>
						<h3 id="tagline">Unite your developer tools, on your phone.</h3>
					</div>
					<!-- CTA Row -->
					<div class="row" id="welcome-cta">
						<button class="btn btn-custom btn-lg" type="button" id="download-cta">
							<span class="glyphicon glyphicon-phone" style="margin-right: 20px;"></span>Text Me A Link
						</button>
					</div>
				</div>
				<!-- Phone Image -->
				<div class="col-lg-3 col-lg-offset-3" id="padding-top-hero">
					<%= image_tag "screenshots/Feed.png" %>
				</div>
			</div>

			<!-- Welcome Breadcrumb -->
			<div class="col-lg-12 center" id="hero-breadcrumb">
				<p class="light">Learn More</p>
				<%= image_tag "hero-carrot.png" %>
			</div>
		</div>
	</div>
</div>



<!-- Integrations Border -->
<div id="integrations-border">
	<div class="container fullheight">
		<!-- Welcome -->	
		<div class="col-lg-12 col-sm-12 fullheight padding-bottom">

			<!-- Headline -->	
			<div class="row padding-top-sm">
				<div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 center">
					<h2>Integrations With Your Tools</h2>
					<p>Triage monitors your favorite developer tools and pulls everything important into one mobile feed. Use Triage for services that don't have a dedicated mobile app, such as Github, Google Analytics or Stripe.</p>
				</div>
			</div>
			<!-- Integrations -->
			<div class="row" id="services">
				
				<!-- Icons -->
				<div class="row col-lg-6 center" id="services-row" data-scrollReveal>

					<div class="row padding-top-sm service-icon">
						<%= link_to image_tag("icons/github-icon-landing.png", :id => "i1", :class => "grow") %>
						<%= link_to image_tag("icons/sentry-icon-landing.png", :id => "i2", :class => "grow") %>
						<%= link_to image_tag("icons/heroku-icon-landing.png", :id => "i3", :class => "grow") %>
						<%= link_to image_tag("icons/dropbox-icon-landing.png", :id => "i4", :class => "grow") %>
						<%= link_to image_tag("icons/ga-icon-landing.png", :id => "i5", :class => "grow") %>
						<%= link_to image_tag("icons/crash-icon-landing.png", :id => "i6", :class => "grow") %>
						<%= link_to image_tag("icons/stripe-icon-landing.png", :id => "i7", :class => "grow") %>
					</div>
					<div class="row padding-top-sm service-icon">
						<%= link_to image_tag("icons/bitbucket-icon-landing.png", :id => "i8", :class => "grow")  %>
						<%= link_to image_tag("icons/newrelic-icon-landing.png", :id => "i9", :class => "grow") %>
						<%= link_to image_tag("icons/kiln-icon-landing.png", :id => "i10", :class => "grow") %>
						<%= link_to image_tag("icons/hockeyapp-icon-landing.png", :id => "i11", :class => "grow") %>
						<%= link_to image_tag("icons/beanstalk-icon-landing.png", :id => "i12", :class => "grow") %>
						<%= link_to image_tag("icons/appfigures-icon-landing.png", :id => "i13", :class => "grow") %>
						<%= link_to image_tag("icons/airbrake-icon-landing.png", :id => "i14", :class => "grow") %>

					</div>
					<div class="row padding-top-sm">
					<p class="light">Click to see example of service card.</p>
					</div>
					<!-- <div class="row padding-top-sm">
					<%= link_to 'Explore Our Integrations', support_path %><%= image_tag "carrot.png", :class => "linkicon" %>
					</div> -->
				</div>

				<!-- Card -->

				<div class="row col-lg-6 center service-card padding-top-sm" data-scrollReveal>
					<%= image_tag "cards/github@2x.png", :id => "ci1", :class => "active-card", :width => "435" %>
					<%= image_tag "cards/sentry@2x.png", :id => "ci2", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/heroku@2x.png", :id => "ci3", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/heroku.png", :id => "ci4", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/ga@2x.png", :id => "ci5", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/crashlytics@2x.png", :id => "ci6", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/stripe@2x.png", :id => "ci7", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/bitbucket@2x.png", :id => "ci8", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/newrelic@2x.png", :id => "ci9", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/kiln@2x.png", :id => "ci10", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/hockeyapp@2x.png", :id => "ci11", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/beanstalk@2x.png", :id => "ci12", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/appfigures@2x.png", :id => "ci13", :class => "hidden-card", :width => "435" %>
					<%= image_tag "cards/airbrake@2x.png", :id => "ci14", :class => "hidden-card", :width => "435" %>
				</div>

			</div>

			<!-- Additional Features -->
			<div class="row padding-top-lg">

				<!-- Onboarding -->
				<div class="col-lg-4 col-sm-4 center">
					<%= image_tag "feature-icons/onboarding-icon.png", :class => "featureicon" %>
					<p class="bold">Simple Onboarding</p>
					<p class="padded-p">It's easy to add new services into Triage with our mobile onboarding process.</p>
				</div>
				<div class="col-lg-4 col-sm-4 center">
					<%= image_tag "feature-icons/team-icon.png", :class => "featureicon" %>
					<p class="bold">Invite Your Team</p>
					<p class="padded-p">Triage is better when your team uses it. We make it easy to send invitations.</p>
				</div>
				<div class="col-lg-4 col-sm-4 center">
					<%= image_tag "feature-icons/personlize-icon.png", :class => "featureicon" %>
					<p class="bold">Personalize Services</p>
					<p class="padded-p">Personalize, filter or mute your services. Your feed looks the way you want it.</p>
				</div>

			</div>

		</div>
	</div>
</div>


<!-- Day Border -->
<div class="border" id="day">
	<div class="container">
		<!-- Day -->	
		<div class="col-lg-12 col-sm-12 welcome">

			<!-- Headline -->	
			<div class="row padding-top-sm">
				<div class="col-lg-6 col-lg-offset-3 center">
					<%= image_tag "triage-logo-sm.png" %>
					<h3>A Day With Triage</h3>
					<p class="light">Scroll down to see what a day with Triage looks like</p>
				</div>
			</div>

			<!-- Time line -->
				<!-- <div class="verticalLine"></div> -->

			<!-- Day Content -->
			<div class="row padding-top fullheight">
				
				<!-- Wake Up -->
				<div class="row padding-bottom">
					<div class="row col-lg-6 col-sm-6 center valign-middle" data-scrollReveal="enter left">
							<div class="row">
							<%= image_tag "clock/clock6am.png", :class => "phoneicon" %><h3 class="blue">6:15 AM</h4>
							</div>
							<h2>Wake Up, Informed</h2>
							<p>Triage monitors the services you already use at work and pulls everything important into one mobile feed.  It's the first app you'll open when you wake up.</p>
					</div>

					<div class="row col-lg-6 col-sm-6 center valign-middle">
						<%= image_tag "screenshots/Summary.png" %>
					</div>
				</div>

				<!-- Productivity -->
				<div class="row padding-top padding-bottom">

					<div class="row col-lg-6 col-sm-6 center valign-middle">
						<%= image_tag "screenshots/Assign.png" %>
					</div>

					<div class="row col-lg-6 col-sm-6 center valign-middle" data-scrollReveal="enter right">
							<div class="row">
							<%= image_tag "clock/clock8am.png", :class => "phoneicon" %><h3 class="blue">8:00 AM</h4>
							</div>
							<h2>Productivity, On The Subway</h2>
							<p>Assign issues, dig into events, share important info. Triage's touch workflows simplify common tasks allowing you to be productive even before you make it to the office.</p>
					</div>
				</div>

				<!-- Status -->
				<div class="row padding-top padding-bottom">
					<div class="row col-lg-6 col-sm-6 center valign-middle" data-scrollReveal="enter left">
							<div class="row">
							<%= image_tag "clock/clock10am.png", :class => "phoneicon" %><h3 class="blue">10:30 AM</h4>
							</div>
							<h2>Automated Stand-up Meetings</h2>
							<p>See what your team is up to. Triage creates automated status reports so you know who is working on what without bothering them.</p>
					</div>

					<div class="row col-lg-6 col-sm-6 center valign-middle">
						<%= image_tag "screenshots/Team.png" %>
					</div>
				</div>

				<!-- Discussions -->
				<div class="row padding-top padding-bottom">

					<div class="row col-lg-6 col-sm-6 center valign-middle">
						<%= image_tag "screenshots/Discussions.png" %>
					</div>

					<div class="row col-lg-6 col-sm-6 center valign-middle" data-scrollReveal="enter right">
							<div class="row">
							<%= image_tag "clock/clock2pm.png", :class => "phoneicon" %><h3 class="blue">2:45 PM</h4>
							</div>
							<h2>Focused Discussions</h2>
							<p>Chat with your teammates in real time about important events. Triage's in-app messaging allows you to quickly and easily talk to members of your team and coordinate on time sensitive issues.</p>
					</div>

				</div>

				<!-- Snack -->
				<div class="row padding-top padding-bottom">
					<div class="row col-lg-6 col-sm-6 center valign-middle" data-scrollReveal="enter left">
							<div class="row">
							<%= image_tag "clock/clock5pm.png", :class => "phoneicon" %><h3 class="blue">5:00 PM</h4>
							</div>
							<h2>Snack On Your Day</h2>
							<p>Your Triage feed allows you to quickly consume the day's activity, so you have a greater sense of what happened.</p>
					</div>

					<div class="row col-lg-6 col-sm-6 center valign-middle">
						<%= image_tag "screenshots/Feed.png" %>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

