<div class="col-lg-12">
	<div class="spacer"></div>
	<div class="row">
		<div class="col-lg-5">
			<!-- Logo Row -->
			<div class="row">
				<h2><%= image_tag "logotriage.png" %><span id="logo">Triage</span</h2>
			</div>
			<!-- Title Row -->
			<div class="row" id="welcome-title">
				<h1>Everything that's<br /> happening at work, <br/ > in one place.</h1>
			</div>
			<!-- Description Row -->
			<div class="row" id="welcome-description">
				<p> Triage monitors the services you already use at work,<br /> and pulls everything important into one mobile feed. </p>
				<%= image_tag "providers.png", :id => "providers" %>
			</div>
			<!-- CTA Row -->
			<div class="row" id="welcome-cta">
				<%#= button_to 'DOWNLOAD TRIAGE', "http://appstore.com/triage-everything-thats-happening", 	:class => "btn btn-custom" %>
		<%= simple_form_for :email_capture, :url => capture_email_path, :method => :post, :remote => :true, :html => {:id => 'sms_delivery_form', :class => 'form-inline'} do |f| %>
					  <%= f.input_field :email, :id => "phone_number", :placeholder => 'Get notified of launch', :autocomplete => "off"%>
  					<%= f.submit 'SEND', :class => "text-btn" %>
				<% end %>
				<%= image_tag("input-line.png", :id => "input-line") %>
				<p id="response" style="visibility:hidden;">abc</p>
			</div>
			

		</div>
		<div class="col-lg-5 col-lg-offset-2">
			<br />
			<%= image_tag "iphone.png", :width => "360" %>
		</div>

	</div>
</div>

