<!-- Hero Border -->
<div id="hero-border">
	<div class="container fullheight">
		<!-- Welcome -->	
		<div class="col-lg-12 col-sm-12 fullheight">

			<!-- Navbar-->	
			<div class="navbar padding-top-sm" role="navigation">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar-custom"></span>
			        <span class="icon-bar-custom"></span>
			        <span class="icon-bar-custom"></span>
			      </button>
			      <%= image_tag "triage-logo.png" %>
			      <a id="logotype" href="#">Triage</a>
			    </div>
			    <div class="collapse navbar-collapse">
			      <ul class="nav navbar-nav navbar-right">
			        <li class="active"><%= link_to 'Home', root_path %></li>
			        <li><%= link_to 'FAQ', support_path %></li> 
			        <li><%= link_to 'Contact', about_path %></li>
			        <li><%= link_to 'Blog', "http://blog.triaged.co", :target => '_blank' %></li>
			      </ul>
			    </div><!-- /.nav-collapse -->
			</div><!-- /.container -->

			<!-- Welcome Content -->
			<div class="row fullheight">
				<div class="col-lg-6">
					<!-- Title Row -->
					<div class="row padding-top-lg">
						<h1>Introducing Triage</h1>
						<h4>Triage monitors your work tools. <br>
						Know more, do more.</h4>
					</div>
					<!-- CTA Row -->
					<div class="row padding-top-sm">
						<button class="btn btn-custom btn-lg download-cta" type="button">
							Get Early Access
						</button>
					</div>
				</div>
				<div class="col-lg-6 pull-right fullheight">
					<div id="hero-frame">
						<%= image_tag "hero.png", :id => "hero-img" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Welcome Breadcrumb -->
	<!-- <div class="col-lg-12 center">
		<div id="hero-breadcrumb">
			<p class="light">Learn More</p>
			<%= image_tag "hero-carrot.png", :id => "learn-more-carrot" %>
		</div>
	</div> -->
</div>



<!-- Integrations Border -->
<div id="service-border">
	<div class="container">
		<!-- Welcome -->	
		<div class="col-lg-12 col-sm-12 fullheight padding-top-sm padding-bottom-sm">

			<!-- Integrations -->
			<div class="row">
				<!-- Headline -->	
				<div class="col-lg-6 col-lg-offset-3 center">
					<h2>Triage integrates the SaaS tools you use everyday.</h2>
					<p class="altbody">Quickly connect your services, Triage syncs everything important into one mobile feed.</p>
				</div>
			</div>

				<!-- Card -->
			<div class="row padding-top" id="services">
				<div class="col-lg-6 center service-cards" data-scrollReveal>
					<%= image_tag "cards/airbrake@2x.png", :id => "ci1", :class => "service-card active-card", :width => "435" %>
					<%= image_tag "cards/appfigures@2x.png", :id => "ci2", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/beanstalk@2x.png", :id => "ci3", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/bitbucket@2x.png", :id => "ci4", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/crashlytics@2x.png", :id => "ci5", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/dropbox@2x.png", :id => "ci6", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/ga@2x.png", :id => "ci7", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/github@2x.png", :id => "ci8", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/heroku@2x.png", :id => "ci9", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/hockeyapp@2x.png", :id => "ci10", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/kiln@2x.png", :id => "ci11", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/newrelic@2x.png", :id => "ci12", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/sentry@2x.png", :id => "ci13", :class => "service-card hidden-card", :width => "435" %>
					<%= image_tag "cards/stripe@2x.png", :id => "ci14", :class => "service-card hidden-card", :width => "435" %>
				</div>
				
				<!-- Icons -->
				<div class="col-lg-6" data-scrollReveal>
					<div class="row service-icon">
						
						<div class="col-lg-6">
							
							<div class="services-row">
								<div class="service" id="i1" >
									<%= link_to image_tag("icons/airbrake-icon.png", :width => "30") %>
									<%= link_to 'Airbrake' %>
								</div>
							</div>
							<div class="services-row">
								<div class="service" id="i2">
									<%= link_to image_tag("icons/appfigures-icon.png", :width => "30") %>
									<%= link_to 'Appfigures' %>
								</div>
							</div>
							<div class="services-row">
								<div class="service" id="i3">
									<%= link_to image_tag("icons/beanstalk-icon.png", :width => "30") %>
									<%= link_to 'Beanstalk' %>
								</div>
							</div>
							<div class="services-row">
								<div class="service" id="i4">
									<%= link_to image_tag("icons/bitbucket-icon.png", :width => "30") %>
									<%= link_to 'Bitbucket' %>
								</div>
							</div>
							<div class="services-row" id="i5">
								<div class="service">
									<%= link_to image_tag("icons/crashlytics-icon.png", :width => "30") %>
									<%= link_to 'Crashlytics' %>
								</div>
							</div>
							<div class="services-row">
								<div class="service" id="i6">
									<%= link_to image_tag("icons/dropbox-icon.png", :width => "30") %>
									<%= link_to 'Dropbox' %>
								</div>
							</div>
							<div class="services-row" id="i7">
								<div class="service">
									<%= link_to image_tag("icons/ga-icon.png", :width => "30") %>
									<%= link_to 'Google Analytics' %>
								</div>
							</div>

						</div>

						<div class="col-lg-6">
							
							<div class="services-row">
								<div class="service" id="i8">
									<%= link_to image_tag("icons/github-icon.png", :width => "30") %>
									<%= link_to 'Github' %>
								</div>
							</div>
							<div class="services-row">
								<div class="service" id="i9">
									<%= link_to image_tag("icons/heroku-icon.png",  :width => "30") %>
									<%= link_to 'Heroku' %>
								</div>
							</div>
							<div class="services-row">
								<div class="service" id="i10">
									<%= link_to image_tag("icons/hockeyapp-icon.png", :width => "30") %>
									<%= link_to 'Hockey App' %>
								</div>
							</div>
							<div class="services-row">
								<div class="service" id="i11">
									<%= link_to image_tag("icons/kiln-icon.png", :width => "30") %>
									<%= link_to 'Kiln' %>
								</div>
							</div>
							<div class="services-row">
								<div class="service" id="i12">
									<%= link_to image_tag("icons/newrelic-icon.png", :width => "30") %>
									<%= link_to 'New Relic' %>
								</div>
							</div>
							<div class="services-row">
								<div class="service" id="i13">
									<%= link_to image_tag("icons/sentry-icon.png", :width => "30") %>
									<%= link_to 'Sentry' %>
								</div>
							</div>
							<div class="services-row">
								<div class="service" id="i14">
									<%= link_to image_tag("icons/stripe-icon.png", :width => "30") %>
									<%= link_to 'Stripe' %>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>



			<!-- Additional Features -->
			<div class="row padding-top-sm">

				<div class="col-lg-custom col-sm-4 center">
						<p class="blue bold">Simple Onboarding</p>
						<p>It's easy to add new services into Triage with our mobile onboarding process.</p>
				</div>
				<div class="col-lg-custom col-lg-offset-custom col-sm-4 center">
						<p class="blue bold">Invite Your Team</p>
						<p>Triage is better when your team uses it. We make it easy to send invitations.</p>
				</div>
				<div class="col-lg-custom col-lg-offset-custom col-sm-4 center">
						<p class="blue bold">Personalize Your Feed</p>
						<p>Personalize, filter or mute your services. Your feed looks the way you want it.</p>
				</div>

			</div>

		</div>
	</div>
</div>


<!-- Day Border -->
<div id="day-border">
	<div class="container">
		<!-- Day -->	
		<div class="col-lg-12 col-sm-12 fullheight">

			<!-- Headline -->	
			<div class="row padding-top-sm">
				<div class="col-lg-6 col-lg-offset-3 center">
					<h2>A Day With Triage</h2>
					<!-- <p class="altbody">Scroll down to see what a day with Triage looks like</p> -->
				</div>
			</div>


			<!-- Day Content -->
			<div class="row padding-top fullheight">
				
				<!-- Wake Up -->
				<div class="row padding-bottom">
					<div class="row col-lg-6 col-sm-6 center valign-middle" data-scrollReveal="enter left">
							<p class="blue">6:15 AM</p>
							<h3>Wake Up, Informed</h3>
							<p>Triage monitors the services you already use at work and pulls everything important into one mobile feed. It’s the first app you’ll open when you wake up.</p>
					</div>

					<div class="row col-lg-6 col-sm-6 center valign-middle">
						<%= image_tag "screenshots/Summary.png", :id => "phone", :class => "animate slideUp" %>
					</div>
				</div>

				<!-- Productivity -->
				<div class="row padding-top padding-bottom">

					<div class="row col-lg-6 col-sm-6 center valign-middle">
						<%= image_tag "screenshots/Assign.png" %>
					</div>

					<div class="row col-lg-6 col-sm-6 center valign-middle" data-scrollReveal="enter right">
							<p class="blue">8:00 AM</p>
							<h3>Do Work, On The Subway</h3>
							<p>Assign issues, dig into events, share important info. Triage’s touch workflows simplify common tasks allowing you to be productive even before you make it to the office.</p>
					</div>
				</div>

				<!-- Status -->
				<div class="row padding-top padding-bottom">
					<div class="row col-lg-6 col-sm-6 center valign-middle" data-scrollReveal="enter left">
							<p class="blue">10:30 AM</p>
							<h3>Keep Tabs On Your Team</h3>
							<p>See what your team is up to. Triage creates authomated status reports so you know who is working on what, without bothering anyone.</p>
					</div>

					<div class="row col-lg-6 col-sm-6 center valign-middle">
						<%= image_tag "screenshots/Team.png" %>
					</div>
				</div>

				<!-- Discussions -->
				<div class="row padding-top padding-bottom">

					<div class="row col-lg-6 col-sm-6 center valign-middle">
						<%= image_tag "screenshots/Discussions.png" %>
					</div>

					<div class="row col-lg-6 col-sm-6 center valign-middle" data-scrollReveal="enter right">
							<p class="blue">2:45 PM</p>
							<h3>Waste Less Time In Meetings</h3>
							<p>Chat with your teammates in real time and spend less time in distracting meetings. Triage’s in-app messaging allows you to quickly and easily talk to members of your team and coordinate on time sensitive issues.</p>
					</div>

				</div>

				<!-- Snack -->
				<div class="row padding-top padding-bottom">
					<div class="row col-lg-6 col-sm-6 center valign-middle" data-scrollReveal="enter left">
							<p class="blue">5:00 PM</p>
							<h3>Snack On Your Day</h3>
							<p>Your Triage feed allows you to quickly consume the day's activity, so you have a greater sense of what happened and are ready for tomorrow.</p>
					</div>

					<div class="row col-lg-6 col-sm-6 center valign-middle">
						<%= image_tag "screenshots/Feed.png" %>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<%= javascript_include_tag "scrollReveal" %>
<script>
  window.scrollReveal = new scrollReveal();
</script>



