<div class="col-lg-12">
	<div class="spacer"><br /></div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<!-- Logo Row -->
			<div class="row">
				<%= link_to('/') do %><%= image_tag "logo-triage-lg.png", :class => "center-block" %><% end %>
			</div>
			<!-- Title Row -->
			<div class="row" id="welcome-title">
				<h1 class="centered">Press</h1>
			</div>
			<!-- Press Release Row -->
			<div class="row" id="welcome-title">
				<h3 class="colored">Press Release</h3>
			</div>
			<div class="row center-block" id="download-button">
				
					<a class="btn btn-custom small centered" href="https://s3-us-west-2.amazonaws.com/triage-production/Triage-PressRelease.pdf">Download Press Release</a>
				
			</div>
			<!-- Screenshots Row -->
			<div class="row" id="welcome-title">
				<h3 class="colored">Screen Shots</h3>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="row" id="press-images">
				<div class="col-lg-2 col-lg-offset-1">
					<%= image_tag "screenshots/1.png", :class => "press-picture" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "screenshots/2.png", :class => "press-picture" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "screenshots/3.png", :class => "press-picture" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "screenshots/4.png", :class => "press-picture" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "screenshots/5.png", :class => "press-picture" %>
				</div>
			</div>
			<div class="row" id="download-button">
				<div class="col-lg-2 col-lg-offset-1">
					<a class="btn btn-custom small" href="https://s3-us-west-2.amazonaws.com/triage-production/Triage-Screenshot.zip">Download Screenshots</a>
				</div>
			</div>

			<!-- Logos Row -->
			<div class="row" id="welcome-title">
				<h3 class="colored">Logo</h3>
			</div>

			<div class="row" id="press-images">
				<div class="col-lg-2 col-lg-offset-1">
					<%= image_tag "logo/triage_icon.png", :class => "press-picture" %>
				</div>
				<div class="col-lg-2 col-lg-offset-1">
					<%= image_tag "logo/triage_logo.png", :class => "press-picture press-logo" %>
				</div>
			</div>
			<div class="row" id="download-button">
				<div class="col-lg-2 col-lg-offset-1">
					<a class="btn btn-custom small" href="https://s3-us-west-2.amazonaws.com/triage-production/Triage_Logo.zip">Download Logo</a>
				</div>
			</div>


		</div>
	</div>
</div>
