<div class="col-lg-12">
	<div class="spacer"></div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<!-- Logo Row -->
			<div class="row">
				<%= link_to('/') do %><h2><%= image_tag "logotriage.png" %><span id="logo">Triage</span</h2><% end %>
			</div>
			<!-- Title Row -->
			<div class="row" id="welcome-title">
				<h1>Press</h1>
			</div>
			<!-- Press Release Row -->
			<div class="row" id="welcome-title">
				<h3 class="colored">Press Release</h3>
			</div>
			<div class="row" id="download-button">
				<div class="col-lg-2 col-lg-offset-1">
					<a class="btn btn-custom small" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.3']);" href="https://github.com/twbs/bootstrap/archive/v3.0.3.zip">Download Press Release</a>
				</div>
			</div>
			<!-- Screenshots Row -->
			<div class="row" id="welcome-title">
				<h3 class="colored">Screen Shots</h3>
			</div>

			<div class="row" id="press-images">
				<div class="col-lg-2 col-lg-offset-1">
					<%= image_tag "screenshots/1.png", :class => "press-picture" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "screenshots/2.png", :class => "press-picture" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "screenshots/3.png", :class => "press-picture" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "screenshots/4.png", :class => "press-picture" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "screenshots/5.png", :class => "press-picture" %>
				</div>
			</div>
			<div class="row" id="download-button">
				<div class="col-lg-2 col-lg-offset-1">
					<a class="btn btn-custom small" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.3']);" href="https://s3-us-west-2.amazonaws.com/triage-production/Triage-Screenshot.zip">Download Screenshots</a>
				</div>
			</div>

			<!-- Logos Row -->
			<div class="row" id="welcome-title">
				<h3 class="colored">Logo</h3>
			</div>

			<div class="row" id="press-images">
				<div class="col-lg-2 col-lg-offset-1">
					<%= image_tag "logo/triage_icon.png", :class => "press-picture" %>
				</div>
				<div class="col-lg-2 col-lg-offset-1">
					<%= image_tag "logo/triage_logo.png", :class => "press-picture" %>
				</div>
			</div>
			<div class="row" id="download-button">
				<div class="col-lg-2 col-lg-offset-1">
					<a class="btn btn-custom small" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.3']);" href="https://s3-us-west-2.amazonaws.com/triage-production/Triage_Logo.zip">Download Logo</a>
				</div>
			</div>


		</div>
	</div>
</div>
