<!-- First Screen -->

<div class="container fullheight">
	<div class="row center padding-top-sm">
		<%= image_tag "triage-logo-sm.png" %>
	</div>

	<%= simple_form_for :pilot, :url => complete_pilot_path, :method => :post, :html => {:id => 'pilot_form' } do |f| %>
	
	<!-- Carousel -->	
	<div class="container fill">
		<div id="myCarousel" class="carousel slide" data-interval="false" data-wrap="false">
    		<div class="carousel-inner">

				<!-- First Slide -->
				<div class="active item">
					<div class="row center">
						<div class="col-lg-8 col-lg-offset-2 padding-top-xsm">
							<h2>Attn: All Modern Teams</h2>
							<p class="altbody padding-top-xsm">Before we launch Triage we want to make sure that every workflow is flawless and every detail polished. So we're running a pilot program and selecting a few incredible teams to participate. To ensure your team is the right fit we've put together a couple of questions. It won't take more than two minutes.</p>
						</div>
					</div>
					<div class="row padding-top-sm">
						<div class="col-lg-6 col-lg-offset-3 col-sm-4 col-sm-offset-4">
							<form role="form">
							  <div class="form-group">
							    <input type="text" id="username" name="pilot[name]" class="form-control form-control-custom" placeholder="Your Full Name">
							  </div>
							  <div class="form-group">
							    <input type="email" name="pilot[email]" class="form-control form-control-custom" placeholder="Work Email">
							  </div>
							  <div class="form-group">
							    <input type="text" name="pilot[company]" class="form-control form-control-custom" placeholder="Company Name">
							  </div>
							</form>
						</div>
					</div>
				</div>
				<!-- End First Slide -->

				<!-- Second Slide -->
				<div class="item">
					<div class="row center">

						<div class="col-lg-8 col-lg-offset-2 padding-top-sm">
							<h3>How large is your company?</h3>
						</div>
					</div>
					
					<div class="row padding-top center">	
						<div class="checkbox-fixed">
							<label>
								<%= render "pilots/svg/teamsm" %>
								<input type="radio" name="pilot[teamsize]" value="1">
								<span>1-20</span>
							</label>

							<label>
								<%= render "pilots/svg/teamm" %>
								<input type="radio" name="pilot[teamsize]" value="21">
								<span>21-50</span>
							</label>

							<label>
								<%= render "pilots/svg/teamlg" %>
								<input type="radio" name="pilot[teamsize]" value="51">
								<span>51-100</span>
							</label>

							<label>
								<%= render "pilots/svg/teamxlg" %>
								<input type="radio" name="pilot[teamsize]" value="100">
								<span>100+</span>
							</label>
						</div>
					</div>

				</div>
				<!-- End Second Slide -->

				<!-- Third Slide -->
				<div class="item">
					<div class="row center">
						<div class="col-lg-6 col-lg-offset-3 padding-top-sm">
							<h3>What team do you work on?</h3>
						</div>
					</div>
					
					<div class="row padding-top center">
						<div class="col-lg-12 col-lg-offset-0 col-sm-10 col-sm-offset-1">	
							<div class="checkbox-fixed">
								<label>
									<%= render "pilots/svg/design" %>
									<input type="radio" name="pilot[team]" value="design">
									<span>Design</span>
								</label>

								<label>
									<%= render "pilots/svg/engineering" %>
									<input type="radio" name="pilot[team]" value="engineering">
									<span>Engineering</span>
								</label>

								<label>
									<%= render "pilots/svg/operations" %>
									<input type="radio" name="pilot[team]" value="operations">
									<span>Operations</span>
								</label>

								<label>
									<%= render "pilots/svg/sales" %>
									<input type="radio" name="pilot[team]" value="sales">
									<span>Sales</span>
								</label>

								<label>
									<%= render "pilots/svg/support" %>
									<input type="radio" name="pilot[team]" value="support">
									<span>Support</span>
								</label>
							</div>
						</div>
					</div>

					<div class="col-lg-12 padding-top-sm center">	
						<div class="checkbox-fixed">
							<label id="other-team">
								<input type="checkbox" name="pilot[saas]" value="">
								<span>Other</span>
							</label>
							
							<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 padding-top-sm center" id="other-team-input" style="display:none;">
								<div class="form-group">
							    <input type="text" name="pilot[team_other]" class="form-control form-control-custom" placeholder="Other Team">
							  </div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Second Slide -->


				<!-- Fourth Slide -->
				<div class="item">
					<div class="row center">
						<div class="col-lg-8 col-lg-offset-2 padding-top-sm">
							<h3>What SaaS services do you use at work?</h3>
						</div>
					</div>

					<div class="row padding-top center">
						<div class="col-lg-12 col-sm-12">	
							<div class="checkbox-fitted">
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="airbrake">
									<span><%= image_tag "icons/airbrake-icon-sm.png", :width => "23" %>Airbrake</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="aws">
									<span><%= image_tag "icons/amazon-icon-sm.png", :width => "23" %>Amazon Web Services</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="appfigures">
									<span><%= image_tag "icons/appfigures-icon-sm.png", :width => "23" %>Appfigures</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="asana">
									<span><%= image_tag "icons/asana-icon-sm.png", :width => "23" %>Asana</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="beanstalk">
									<span><%= image_tag "icons/beanstalk-icon-sm.png", :width => "23" %>Beanstalk</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="bitbucket">
									<span><%= image_tag "icons/bitbucket-icon-sm.png", :width => "23" %>Bitbucket</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="box">
									<span><%= image_tag "icons/box-icon-sm.png", :width => "23" %>Box</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="crashlytics">
									<span><%= image_tag "icons/crashlytics-icon-sm.png", :width => "23" %>Crashlytics</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="dropbox">
									<span><%= image_tag "icons/dropbox-icon-sm.png", :width => "23" %>Dropbox</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="evernote">
									<span><%= image_tag "icons/evernote-icon-sm.png", :width => "23" %>Evernote</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="googleanalytics">
									<span><%= image_tag "icons/ga-icon-sm.png", :width => "23" %>Google Analytics</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="github">
									<span><%= image_tag "icons/github-icon-sm.png", :width => "23" %>Github</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="googledrive">
									<span><%= image_tag "icons/googledrive-icon-sm.png", :width => "23" %>Google Drive</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="heroku">
									<span><%= image_tag "icons/heroku-icon-sm.png", :width => "23" %>Heroku</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="HockeyApp">
									<span><%= image_tag "icons/hockeyapp-icon-sm.png", :width => "23" %>HockeyApp</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="Kiln">
									<span><%= image_tag "icons/kiln-icon-sm.png", :width => "23" %>Kiln</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="Layervault">
									<span><%= image_tag "icons/layervault-icon-sm.png", :width => "23" %>Layervault</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="NewRelic">
									<span><%= image_tag "icons/newrelic-icon-sm.png", :width => "23" %>New Relic</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="Sentry">
									<span><%= image_tag "icons/sentry-icon-sm.png", :width => "23" %>Sentry</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="Stripe">
									<span><%= image_tag "icons/stripe-icon-sm.png", :width => "23" %>Stripe</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="TravisCI">
									<span><%= image_tag "icons/travisci-icon-sm.png", :width => "23" %>Travis CI</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="Trello">
									<span><%= image_tag "icons/trello-icon-sm.png", :width => "23" %>Trello</span>
								</label>
								<label>
									<input type="checkbox" name="pilot[saas[]]" value="Zendesk">
									<span><%= image_tag "icons/zendesk-icon-sm.png", :width => "23" %>Zendesk</span>
								</label>
							</div>
						</div>
					</div>

					<div class="col-lg-12 padding-top-sm center">	
						<div class="checkbox-fixed">
							<label id="other-services">
								<input type="checkbox" name="saas" value="">
								<span>Other</span>
							</label>
							
							<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 padding-top-sm center" id="other-services-input" style="display:none;">
								<div class="form-group">
							    <input type="text" name="pilot[saas_other]" class="form-control form-control-custom" placeholder="Other SaaS Services">
							  </div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Fourth Slide -->

				<!-- Fifth Slide -->
				<div class="item">
					<div class="row center">
						<div class="col-lg-8 col-lg-offset-2 padding-top-sm">
							<h3>Last question. What phone OS do you use?</h3>
						</div>
					</div>
					
					<div class="row padding-top center">	
						<div class="checkbox-fixed">
							<label>
								<%= render "pilots/svg/apple" %>
								<input type="radio" name="pilot[os]" value="ios">
								<span>iOS</span>
							</label>

							<label>
								<%= render "pilots/svg/android" %>
								<input type="radio" name="pilot[os]" value="android">
								<span>Android</span>
							</label>

							<label>
								<%= render "pilots/svg/windows" %>
								<input type="radio" name="pilot[os]" value="windows">
								<span>Windows</span>
							</label>

							<label>
								<%= render "pilots/svg/blackberry" %>
								<input type="radio" name="pilot[os]" value="blackberry">
								<span>Blackberry</span>
							</label>
						</div>
					</div>
				</div>
				<!-- End Fifth Slide -->
			</div>
		</div>
	</div>

	<% end %>

	<!-- Pagination -->
	<div class="center navbar-fixed-bottom">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 center">
				<button class="btn-custom-2" type="button" id="slideButton" href="#myCarousel" data-slide="next">
					Next
				</button>
			</div>
		</div>
		<div class="row padding-top-sm">
			<ul class="pagination-custom">
			  <li class="active"><a href="#1">1</a></li>
			  <hr class="pagination-line">
			  <li><a href="#2">2</a></li>
			  <hr class="pagination-line">
			  <li><a href="#3">3</a></li>
			  <hr class="pagination-line">
			  <li><a href="#4">4</a></li>
			  <hr class="pagination-line">
			  <li><a href="#5">5</a></li>
			</ul>
		</div>
	</div>

</div>

