<div class="card-wrapper col-lg-6 col-lg-offset-3">
		<div class="card">
			
			<div class="row head">
				<%= avatar_for feed_item.author, feed_item.provider %>
				
				<div class="head-content">
					<h1 class="title"><%= feed_item.author.name if feed_item.author %> <%= feed_item.title %></h1>
					<div class="property">
						<p class="alt"><%= feed_item.property_name %></p>
					</div>
				</div>
			</div>

			<div class="content row">
				<div class="event-content">

					<!-- Image -->

					<div class="event-image">
						<%= image_tag(feed_item.event_image.web.url, :id => "image") if feed_item.event_image? %>
						<%= body_helper feed_item %>

					<!-- Graph -->
					<!-- <div class="event-image">
					<%= image_tag "test-graph.png", :width => "100%" %>
					</div> -->

				</div>
				<div class="row">
					<div class="floatleft">
						<%= image_tag "tm-icon@2x.png", :width => "18", :id => "timeicon" %>
						<p class="alt"><%= time_ago_in_words feed_item.timestamp %></p>
					</div>
					<div class="floatright">
						<p><%= link_to "Open in #{feed_item.provider.title}", feed_item.url, :target => "blank" %></p>
					</div>
				</div>
			</div>

			<% if feed_item.messages.exists? %>
				<div class="row conversation-border">
					<%= render feed_item.messages %>
				</div>
			<% end %>
		</div>
	</div>
</div>