<header class="nav">
	<div class="navbar">
		<div class="container">
			<div class="navbar-header">
				<%= link_to image_tag("logotriage.png", :width => "40", :id => "navlogo"), "https://www.triaged.co/" %>
				<a class="navbar-triage" href="./">triage</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<%= link_to image_tag("appstore-badge.png", :width => "140", :id => "navitunes"), "https://itunes.apple.com/us/app/triage-everything-thats-happening/id744662903?ls=1&mt=8" %>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="intro">
		<%= image_tag "team/charlie.png", :width => "70" %>
		<h1>Charlie White thinks its important that you see this.</h1>
	</div>
</div>

<div class="container">
	
	<div class="card-wrapper col-lg-6 col-lg-offset-3">
		<div class="card">
			<div class="row">
				<div class="as-image">
				<%= image_tag "team/alex.png", :width => "62" %>
				<%= image_tag "icons/Github-circle-sm.png", :width => "26", :id => "smicon" %>
				</div>
				<div class="headcontent">
					<h2 class="author">Alex Brinza</h2>
					<h2 class="title"><%= @share.feed_item.title %></h2>
				</div>
				<div class="metacontent">	
					<div class="property floatleft">
						<p class="alt">Triage Blog</p>
					</div>
					<div class="timestamp floatright">
						<%= image_tag "icons/Github-circle-sm.png", :width => "14", :id => "timeicon" %>
						<p class="alt">25m ago</p>
					</div>
				</div>
			</div>
			<div class="content row">
				<p>This is a paragraph that describes an atomic action from a service, app, website, or person. Check it out.</p>
				<div class="contentlinks">
					<div class="floatleft">
						<p><a href="cardlink">Open in Triage app</a></p>
					</div>
					<div class="floatright">
					<p><a href="cardlink">Open in Github</a></p>
					</div>
				</div>
			</div>
			<div class="">
				<div class="conversation row">
					<div class="convo-image">
						<%= image_tag "team/charlie.png", :width => "36" %>
						<%= image_tag "icons/notification-icon.png", :width => "16", :id => "alerticon" %>
					</div>
					<div class="convo floatleft">
						<h2 class="author">Charlie W. <span class="action">created a Github Issue for this dispute</span></h2>
					</div>
					<div class="floatright">
					<p class="time">15m</p>
					</div>
				</div>
				<div class="conversation row">
					<div class="convo-image">
						<%= image_tag "team/charlie.png", :width => "36" %>
					</div>
					<div class="convo floatleft">
						<h2 class="convoauthor">Charlie W.</h2>
						<h3 class="message">Hey J.T. can you take care of this in the next 24 hours? thx.</h3>
					</div>
					<div class="floatright">
					<p class="time">14m</p>
					</div>
				</div>
				<div class="conversation row">
					<div class="convo-image">
						<%= image_tag "team/jt.png", :width => "36" %>
					</div>
					<div class="convo floatleft">
						<h2 class="convoauthor">JT W.</h2>
						<h3 class="message">Ughh... are you serious?</h3>
					</div>
					<div class="floatright">
					<p class="time">14m</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6 col-lg-offset-3">
		<div class="outro">
			<h1>Charlie is using Triage to monitor everything happening at work. </h1>
			<div id="hero-btn-share">
					<button class="btn btn-custom-share btn-lg grow" type="button" id="download-cta">
						<span class="glyphicon glyphicon-phone" style="margin-right: 20px;"></span>Get Triage For iOS
					</button>
			</div>
		</div>
	<div id="sharefooter" class="welcome">	
		<div id="footer-inner">
			  	<ul id="footer-list">
			  	<li> <%= link_to 'Home', root_path %> </li>
					<li> <%= link_to 'Support', support_path %> </li>
					<li> <%= link_to 'Twitter', "https://twitter.com/TriagedCo", :target => '_blank' %> </li>
					<li> <%= link_to 'Blog', "http://blog.triaged.co", :target => '_blank' %> </li>
					<li> <%= link_to 'About', about_path %> </li>
					<li> <%= link_to 'Press', press_path %> </li>
				</ul>
			</div>
		</div>
	</div>
</div>
