<div class="container">
	<header>
		<nav class="navbar padding-top-sm">
			<div class="navbar-header">
				<%= link_to (image_tag 'triage-logo-sm.png'), apps_path %>
				<%= link_to 'Triage', apps_path, :id => "logotype" %>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><%= link_to 'Applications', apps_path %></li>
				<li><%= link_to 'Team', team_path %></li>
			</ul>
			<div class="nav navbar-nav navbar-right">
				<%= link_to 'Profile', account_path %>
			</div>
		</nav>
	</header>
  <main>
  <div class="content">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="section-header">
        <h4>Create An Application</h4>
        <p>
        Track the activity of your application and do more from your phone.
        </p>
      </div>
      <div class="section-content">
        <div class="section">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
  </main>
</div>
