<div class="container">
  <header>
    <nav class="navbar padding-top-sm">
      <div class="navbar-header">
        <%= link_to (image_tag 'triage-logo-sm.png'), root_path %>
        <%= link_to 'Triage', root_path, :id => "logotype" %>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Applications', faq_path %></li>
        <li><%= link_to 'Team', about_path %></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <%= link_to 'Profile', about_path %>
      </div>
    </nav>
  </header>
  
  <main>
    <div class="content">
    	<div class="col-lg-6 col-lg-offset-3">

	        <div class="section-header">
	          <h1>Create An Application</h1>
	        </div>

			<%= render 'form' %>

		</div>
	</div>
</main>
