<div id="footer" class="mobile">
		<div class="container">
			<div class="row center-block">
				<div class="col-xs-12 center-block">
				
				<%= link_to image_tag("available.png", :class => "center-block"), "https://itunes.apple.com/us/app/triage-everything-thats-happening/id744662903?ls=1&mt=8" %>  <br /><br />
			  <ul id="footer-list" class="center-block">
			  	<div class="row center-block">
					<li> <%= link_to 'FAQ', faq_path %> </li>
				</div><br /><div class="row center-block">
					<li> <%= link_to 'Twitter', "https://twitter.com/TriagedCo" %> </li>
				</div><br /><div class="row center-block">
					<li> <%= link_to 'Blog', "http://blog.triaged.co" %> </li>
				</div><br /><div class="row center-block">
					<li> <%= link_to 'About', about_path %> </li>
				</div><br /><div class="row center-block">
					<li> <%= link_to 'Press', press_path %> </li>
				</div><br /><div class="row center-block">
					<li> <%= link_to 'Home', root_path %> </li>
				</div>
				</ul>
				<br /><br />
			</div>
		</div>
		</div>
	</div>