<div id="footer" class="mobile">
		<div class="container">
			<div class="row center-block">
				<div class="col-xs-12 center-block">
				
				<%= link_to image_tag("available.png", :class => "center-block"), "https://itunes.apple.com/us/app/triage-everything-thats-happening/id744662903?ls=1&mt=8" %>  <br /><br />

				 <div id="footer-inner">
				  	<ul id="footer-list">
				  		<li> <%= link_to 'Home', root_path %> </li>
						<li> <%= link_to 'Support', faq_path %> </li>
						<li> <%= link_to 'Twitter', "https://twitter.com/TriagedCo", :target => '_blank' %> </li>
						<li> <%= link_to 'Blog', "http://blog.triaged.co", :target => '_blank' %> </li>
						<li> <%= link_to 'About', about_path %> </li>
						<li> <%= link_to 'Press', press_path %> </li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>