<!-- Footer Background -->
<div class="cta">
    <div class="container">
        <!-- Footer -->
        <div class="col-lg-12 col-sm-12">

            <!-- CTA Content -->
            <div class="container">
                <!-- CTA -->
                <div class="col-lg-6 col-lg-offset-3 center padding-top-sm">
                    <%= image_tag "triage-logo-sm.png" %>
                    <p class="bold">Triage</p>
                </div>
            </div>

                <!-- AppStore -->

            <!-- Footer Content -->
            <div class="container">
                <!-- Links -->
                <div class="row center padding-top-sm padding-bottom">
                    <nav id="footer-list">
                        <%= link_to 'Home', root_path %> 
                        <%= link_to 'FAQ', support_path %>
                        <%= link_to 'Contact', support_path %>
                        <%= link_to 'Twitter', "https://twitter.com/TriagedCo", :target => '_blank' %>
                        <%= link_to 'Blog', "http://blog.triaged.co", :target => '_blank' %>
                        <%= link_to 'Press', press_path %>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
