<div class="col-xs-12">
			<!-- Logo Row -->
			<br />
			<div class="row center-block">
				<h2 class="text-center">Which Organization does your company use?</h2>
			</div>
			<!-- Title Row -->
			<div class="row center-block" id="welcome-title">
				<% @accounts.each do |account| %>

						<div class="provider-account" id="<%= account.id %>">
							<h3><%= account.name %></h3>
						</div>

				<% end %>
			</div>

			<div class="row">
				<%= simple_form_for :account, :url => set_default_account_google_analytics_index_path, :method => :post do |f| %>
					  <%= f.input :id, :as => :hidden %>
  					<%= f.button :submit, 'SELECT', :class => "btn-custom", :disabled => true %>
				<% end %>
			</div>
			

		<br /><br />
</div>


