<div class="col-xs-12">
			<!-- Logo Row -->
			<br />
			<div class="row center-block">
				<h2 class="text-center">Which Organization does your company use?</h2>
			</div>
			<!-- Title Row -->
			<div class="row center-block" id="welcome-title">
				<% @organizations.each do |org| %>

						<div class="provider-account" id="<%= org.id %>">
							<h3><%= org.name %></h3>
						</div>

				<% end %>
			</div>

			<div class="row">
				<%= simple_form_for :org, :url => set_default_org_github_index_path, :method => :post do |f| %>
					  <%= f.input :id, :as => :hidden, :class => "hidden-id" %>
  					<%= f.button :submit, 'SELECT', :class => "btn-custom", :disabled => true %>
				<% end %>
			</div>
			

		<br /><br />
</div>


