<div id="footer" class="welcome">
		<div class="col-lg-6 col-lg-offset-3 border-top">
			<div class="containter spacing-xsm">
				<p class="margin-bottom">Triage is free for iPhone</p>
					<div class="container" id="ft-img">
					<%= link_to image_tag("available.png"), "https://itunes.apple.com/us/app/triage-everything-thats-happening/id744662903?ls=1&mt=8" %>
					</div>
			</div>
			<div id="footer-inner">
			  	<ul id="footer-list">
			  	<li> <%= link_to 'Home', root_path %> </li>
					<li> <%= link_to 'FAQ', faq_path %> </li>
					<li> <%= link_to 'Twitter', "https://twitter.com/TriagedCo", :target => '_blank' %> </li>
					<li> <%= link_to 'Blog', "http://blog.triaged.co", :target => '_blank' %> </li>
					<li> <%= link_to 'About', about_path %> </li>
					<li> <%= link_to 'Press', press_path %> </li>
				</ul>
			</div>
		</div>
</div>
