<div class="container">
	<div class="col-lg-6 col-lg-offset-3">
		<div id="sharefooter" class="welcome">	
			<div id="footer-inner">
				  	<ul id="footer-list">
				  	<li> <%= link_to 'Home', root_path %> </li>
						<li> <%= link_to 'Support', support_path %> </li>
						<li> <%= link_to 'Twitter', "https://twitter.com/TriagedCo", :target => '_blank' %> </li>
						<li> <%= link_to 'Blog', "http://blog.triaged.co", :target => '_blank' %> </li>
						<li> <%= link_to 'About', about_path %> </li>
						<li> <%= link_to 'Press', press_path %> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>