<!-- Footer Background -->
<div class="cta">
    <div class="container">
        <!-- Footer -->
        <div class="col-lg-12 col-sm-12">

            <!-- CTA Content -->
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 center padding-top-sm">
                    <%= image_tag "triage-logo-sm.png" %>
                    <p class="bold">Triage</p>
                    <!-- <div class="padding-top" id="cta-btn">
                        <button class="btn btn-footer btn-sm" type="button" id="footer-cta">
                            Text Me A Link
                        </button>
                        <%#= link_to image_tag("available.png", :width => "170"), "https://itunes.apple.com/us/app/triage-everything-thats-happening/id744662903?ls=1&mt=8" %>
                    </div> -->
                </div>
            </div>

                <!-- AppStore -->

            <!-- Footer Content -->
            <div class="row">
                <!-- Links -->
                <div class="col-lg-12 center padding-top-sm padding-bottom">     
                    <nav class="footer-list">
                        <ul class="footer">
                            <li class="active"><%= link_to 'Home', root_path %></li>
                            <li><%= link_to 'FAQ', support_path %></li>
                            <li><%= link_to 'Contact', about_path %></li>
                            <li><%= link_to 'Twitter', "https://twitter.com/TriagedCo", :target => '_blank' %></li>
                            <li><%= link_to 'Blog', "http://blog.triaged.co", :target => '_blank' %></li>
                            <li><%= link_to 'Press', press_path %></li>
                        </ul>
                    </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
