<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render "shared/twitter_tags" %>
 <title>Triage</title>
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" media="all" rel="stylesheet" />
 <%= stylesheet_link_tag    "home", media: "all"%>
 <script type="text/javascript" src="//use.typekit.net/dli1exz.js"></script>
 <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 <%= analytics_init if Rails.env.production? %>
 <%= csrf_meta_tags %>
</head>
<body>

     <!-- Wrap all page content here -->
  <div id="loaded-content">
            <!-- Begin page content -->
    <%= yield %>

    <%= yield :overlay %>
    <%= render "layouts/welcome_footer" unless @skip_footer %>
  </div>
  <%= render "shared/download_overlay" %>
</body>


<%= javascript_include_tag "application" %>

</html>